{{#if context.topic.show_average}}
  <div class="topic-rating">
    {{#if context.topic.has_ratings}}
      {{star-rating-raw (mean-rating context.topic)}} {{context.topic.rating_count}}
      {{#if (isOne context.topic.rating_count)}}
        rating
      {{else}}
        ratings
      {{/if}}
    {{else}}
      {{i18n 'topic.no_ratings'}}
    {{/if}}
  </div>
{{/if}}
