<div class="average-rating">
  {{#if model.rating_enabled}}
    {{#if model.has_ratings}}
    <table>
      <tr>
        <td>
          <b>{{i18n 'topic.rating_name'}}</b>
        </td>
        <td>
        {{star-rating-raw model.average_rating}}
        </td>
        {{#if this.siteSettings.rating_show_exact_average}}
        <td>
          <span class="exact-rating">
            {{average-rating model}}
          </span>
        </td>
        {{/if}}
      </tr>

      <tr>
        <td>
          <b>{{i18n 'topic.rating1_name'}}</b>
        </td>
        <td>
        {{star-rating-raw model.average_rating1}}
        </td>
        {{#if this.siteSettings.rating_show_exact_average}}
        <td>
          <span class="exact-rating">
            {{average-rating1 model}}
          </span>
        </td>
        {{/if}}
      </tr>

      <tr>
        <td>
          <b>{{i18n 'topic.rating2_name'}}</b>
        </td>
        <td>
        {{star-rating-raw model.average_rating2}}
        </td>
        {{#if this.siteSettings.rating_show_exact_average}}
        <td>
          <span class="exact-rating">
            {{average-rating2 model}}
          </span>
        </td>
        {{/if}}
      </tr>

      <tr>
        <td>
          <b>{{i18n 'topic.rating3_name'}}</b>
        </td>
        <td>
        {{star-rating-raw model.average_rating3}}
        </td>
        {{#if this.siteSettings.rating_show_exact_average}}
        <td>
          <span class="exact-rating">
            {{average-rating3 model}}
          </span>
        </td>
        {{/if}}
      </tr>

    </table>
    {{else}}
      {{i18n 'topic.no_ratings'}}
    {{/if}}
  {{else}}
    {{#if model.average_rating}}
      {{#if currentUser.admin}}
        <span class="exact-rating">{{i18n "topic.hidden_ratings"}}</span>
      {{/if}}
    {{/if}}
  {{/if}}
</div>

<div class="topic-tip">
  {{#if model.showRatingTip}}
    {{d-button class="btn btn-small" action="toggleDetails" label="topic.tip.ratings.title" icon="info"}}
    {{#if showDetails}}
      <div class="tip-details">
        {{{i18n 'topic.tip.ratings.details'}}}
      </div>
    {{/if}}
  {{/if}}
</div>
